streamlit==1.42.1
pandas
spacy
torch
transformers
numpy
# Include the spaCy model. Here we're using the small model:
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
